html {
  height: 100%; /* Required to make parallax background fit the whole screen */
}

body {
  color: #616161;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%; /* Required to make parallax background fit the whole screen */
}

h1, h2, h3, h4, h5, h6 {font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}

small {font-size: 65%;}

address {font-style: normal;}

.w3-content {max-width: 1170px;}

.w3-dropdown-hover:hover > .w3-button:first-child {
  background-color: transparent; /* Overrides background color when hovering over a dropdown menu item*/
  color: #00bcd4; /* Overrides font color when hovering over a dropdown menu item */
}

.parallax-fluid {
  background-image: url("../images/generic.jpg"); /* The image used */
  height: 100%; /* Full height */
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-fixed {
  background-image: url("../images/generic.jpg"); /* The image used */
  min-height: 400px; /* Set a specific height */
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-wrap {
  white-space: normal; /* Overrides nowrap value for buttons and lets paragraphs wrap onto another line */
}


/* Bootstrap typography classes */
  .text-uppercase {text-transform: uppercase;}
